<p id="notice"><%= notice %></p>

<h1>Admin Cashdesks Controllers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desks.each do |admin_cashdesks_controller| %>
      <tr>
        <td><%= link_to 'Show', admin_cashdesks_controller %></td>
        <td><%= link_to 'Edit', edit_admin_cashdesks_controller_path(admin_cashdesks_controller) %></td>
        <td><%= link_to 'Destroy', admin_cashdesks_controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Cashdesks Controller', new_admin_cashdesks_controller_path %>
